.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

header {
  position:fixed;
  float: left;
  background-color:#00aced;
  width:100%;
}

.header_left{
  float: left;
  padding: 15px;
  font-size:100%;
}

.header_right{
  float: right;
  padding: 15px; 
  font-size:120%;
}


li {
    list-style: none;
}
li a{
    color: white;
}


.font_images{
    opacity: 0.8;
    position: absolute;
    left:30%;
    top:20%;
}

img{
    width:100%;
}

.enter_font input{
    width:40%;
    height:80px;
}
.enter_key input{
    width:15%;
    height:40px;
    background-color:#00aced;
    font-color:white;
}


.tweets_list{
    text-align:center;
}
table{
    margin:0 auto;
}
table td{
    padding: 15px; 
}
.footers{
    float:left;
    background-color:#00aced;
    width:100%;
}
.footers p{
    color:white;
    text-align:center;
}

.tweet_content{
    text-align:center;
    font-size:30px;
}
// Place all the styles related to the letters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
