.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

header {
  position:fixed;
  float: left;
  background-color:#00aced;
  width:100%;
}

.header_left{
  float: left;
  padding: 15px;
  font-size:100%;
}

.header_right{
  float: right;
  padding: 15px; 
  font-size:120%;
}

h2{
    color:red;
}

li {
    list-style: none;
}
li a{
    color: white;
    text-decoration: none;
}
li a:hover{
    opacity:0.7;
}


.font_images{
    opacity: 0.8;
    position: absolute;
    left:30%;
    top:20%;
}

img{
    width:100%;
}

.enter_font input{
    width:40%;
    height:80px;
}
.enter_key input{
    width:15%;
    height:40px;
    background-color:#00aced;
    color:white;
    border-radius: 4px;
}
.enter_key input:hover{
    opacity:0.7;
}

.check{
    text-align:center;
    margin: 2em auto;
    padding: 3em;
    width: 60%;
    background-color: #CEECF5; 
    box-shadow: 0 0 5px 1px #ccc; 
}

.check h4{
    text-decoration:underline ;
}
.check p:hover{
    opacity:0.7;
}

.check p input{
    background-color:#00aced;
    width:15%;
    height:40px;
    line-height: 120%;
    color:white;
    border-radius: 4px;
}


.tweets_list{
    text-align:center;
}
.tweets_list a{
    color:black;
}
.tweets_list a:hover{
    opacity:0.7;
}

td a{
    text-decoration: none;
    color :black;
}
td {
    background-color:#EFFBFB;
}

table{
    margin:0 auto;
}
table td{
    padding: 15px; 
}
.footers{
    float:left;
    background-color:#00aced;
    width:100%;
}
.footers p{
    color:white;
    text-align:center;
}

.tweet_content{
    text-align:center;
    font-size:30px;
}
// Place all the styles related to the letters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
