<header>
    <li class="header_left clearfix"><%= link_to 'ホーム', '/letters' %></li>
    <li class="header_left clearfix"><%= link_to 'ツイート', '/letters/show' %></li>
    <li class="header_right clearfix"><%= link_to 'ツイートする', '/letters/new'%></li>
</header>

<body>
    <div class="font_images">
    <img src="assets/tweet_img.png">
    </div>
    <img src="assets/top_img.jpg">
</body>

<footer class="footers">
    <p>つぶやき</p>
    <p>© 2018- tubuyaki Corp.</p>
</footer>



